---
import BaseLayout from '../layouts/BaseLayout.astro';
import location from '../data/homepage_location.json';

const currentLocation = location ?? { lat: 43.65, lon: -79.38, city: "Toronto", state: "ON", country: "Canada" };

let country = currentLocation.country;
switch (country) {
    case 'Canada':
        country = 'Canada 🇨🇦';
        break;
    case 'United States':
    case 'USA':
    case 'US':
        country = 'United States 🇺🇸';
        break;
    case 'United Kingdom':
    case 'UK':
        country = 'United Kingdom 🇬🇧';
        break;
    case 'Australia':
        country = 'Australia 🇦🇺';
        break;
    case 'France':
        country = 'France 🇫🇷';
        break;
    case 'Germany':
        country = 'Germany 🇩🇪';
        break;
    case 'Japan':
        country = 'Japan 🇯🇵';
        break;
    case 'China':
        country = 'China 🇨🇳';
        break;
    case 'Mexico':
        country = 'Mexico 🇲🇽';
        break;
    case 'Japan':
        country = 'Japan 🇯🇵';
        break;
    case 'South Korea':
        country = 'South Korea 🇰🇷';
        break;
    case 'Taiwan':
        country = 'Taiwan 🇹🇼';
        break;
    case 'Hong Kong':
        country = 'Hong Kong 🇭🇰';
        break;
    case 'Indonesia':
        country = 'Indonesia 🇮🇩';
        break;
    // Add more countries as needed
    
    default:
        break;
}

const weatherResponse = await fetch(`https://api.weatherapi.com/v1/forecast.json?key=${import.meta.env.WEATHERAPI_API_KEY}&q=${currentLocation.lat},${currentLocation.lon}`);
const weatherData = await weatherResponse.json();
const temperature_c = weatherData.current.temp_c;
const temperature_f = weatherData.current.temp_f;
const feelslike_c = weatherData.current.feelslike_c;
const feelslike_f = weatherData.current.feelslike_f;
const condition = weatherData.current.condition.text;

const timezoneResponse = await fetch(`https://api.timezonedb.com/v2.1/get-time-zone?key=${import.meta.env.TIMEZONEDB_API_KEY}&format=json&by=position&lat=${currentLocation.lat}&lng=${currentLocation.lon}`);
const timezoneData = await timezoneResponse.json();
const localTime = new Date(timezoneData.formatted);
const offsetSeconds = timezoneData.gmtOffset;
const adjustedTime = new Date(localTime.getTime() + offsetSeconds * 1000);
const options = {
        year: 'numeric',
        month: 'long', 
        day: 'numeric', 
        hour: 'numeric', 
        minute: '2-digit',
        timeZone: timezoneData.zoneName,
        timeZoneName: 'short', 
        hour12: true
};

let formattedTime = adjustedTime.toLocaleTimeString('en-CA', options);
formattedTime = formattedTime.replace(/a\.m\./gi, "AM").replace(/p\.m\./gi, "PM");
---

<BaseLayout title="Jason Shew">
  <section id="welcome">
            <div class="hero-container">
                <img src="/images/hero.jpeg" alt="Hero Image of Jason" class="hero-image">
                <div class="hero-text">
                    <h2>There is a Human Behind This Website
                    </h2>
                    <p>Hey, I’m Jason, a Canadian guy currently in {currentLocation.city}, {currentLocation.state}, {country}.
                    Right now,
                    it's {formattedTime} where I am. It feels like {feelslike_c}°C ({feelslike_f}°F) outside; the actual temperature is {temperature_c}°C ({temperature_f}°F). "{condition} for the next little while," said our local weatherman.</p>
                    <br>
                    <p>Don't know me at all? You may want to start with this <a href="/about">About Me</a> page.</p>
                    <br>
                    <p>This site is designed to be intuitive and easy to navigate. Important updates appear right here on the homepage (in the <a href="/#news">News</a> section below), while everything else is organized into other sections. My current location, local time, weather, and <a href="/tracks">tracklist</a> are updated in real time. You can also visit the <a href="/checkins">Check-ins</a> page to see where I’ve recently been. The <a href="/linkbook">Linkbook</a> is a collection of random links I’ve found around the internet. Wherever you are, feel free to reach out using the details on the <a href="/connect">Connect</a> page.</p>
                    <br>
<p>Oh—and one more thing. This is my personal website. All content here and on <a href="/blog" target="_blank" rel="noopener noreferrer">my blog</a> was created by me unless otherwise noted. The views expressed are entirely my own and don’t reflect those of any past, present, or future employers — or anyone else, for that matter.</p>

                </div>
            </div>

        </section>

        <section id="news">
            <h2>News</h2>
            <div class="news-grid">
                <div class="news-card">
                    <h3>Website Revamped</h3>
                    <h5>July 5, 2025</h5>
                    <p>It's as plain as the nose on your face.</p>
                    <img src="/images/cute-elephant.jpg" height="400" alt="Cute Elephant">
                    <p>It was a bit of work, but I’m happy to have moved everything back to my main domain but my blog.</p>

                </div>


            </div>
        </section>

</BaseLayout>